
<h1>Airport 데이터 삽입</h1>

<form name = "airport" method="post" action = '/insert/airport'>
<div>
    <label for = "airport_code">공항코드</label>
    <input id = "airport_code" name = "airport_code" type = "text" required placeholder="airport_code">
</div>
<div>
    <label for = "name">공항이름</label>
    <input id = "name" name = "name" type = "text" required placeholder="name">
</div>
<div>
    <input type = "submit" value="삽입">
</div>
</form>
<form name = "airportadd" method="post" action = '/insert/airport'>
<div>
    <label for = "airport_code">공항코드</label>
    <input id = "airport_code" name = "airport_code" type = "text" required placeholder="airport_code">
</div>
<div>
    <label for = "city">주소도시</label>
    <input id =  "city" name =  "city" type = "text" required placeholder= "city">
</div>
<div>
    <label for = "country">주소나라</label>
    <input id = "country" name ="country" type = "text" required placeholder="country">
</div>
<div>
    <input type = "submit" value="삽입">
</div>
</form>