<h1>{{ title }}</h1>
{{!-- 테이블 형태로 정보를 보여줌 --}}
<table>
<tr>
<td>Airport_code</td>
<td>Name</td>
</tr>
{{!-- book 테이블에 있는 튜플의 개수만큼 반복 --}}
{{#each portn}}
{{!-- post 형식의 form --}}
<form method="post">
<tr>
<td>{{Airport_code}}</td>
<td>{{Name}}</td>
<td style="border: none; margin-left: 10px;">
{{!-- 삭제버튼 --}}
<button
style="margin-left: 10px;"
name='delBtn'
type="submit"
value="{{Airport_code}}"
formaction="/delete/airportname"
>
삭제
</button>
</td>
</tr>
</form>
{{/each}}
</table>