<h1>항공편 정보 삽입</h1>

<form name = "flight" method="post" action = '/insert/flight'>
<div>
    <label for = "flight_number">flight_number</label>
    <input id = "flight_number" name = "flight_number" type = "text" required placeholder="flight_number">
</div>
<div>
    <label for = "airline">airline</label>
    <input id = "airline" name = "airline" type = "text" required placeholder="airline">
</div>

<div>
    <input type = "submit" value="삽입">
</div>
</form>