<h1>{{title}}</h1>

<table>
    <tr>
        <td>Flight_number</td>
        <td>Airline</td>
    </tr>
    {{!-- plan_Res의 개수만큼 반복 --}}
    {{#each fli_res}}
    <form method = "post">
    <tr>
        <td>{{Flight_number}}</td>
        <td><input type = "text" name = "airline" placeholder="{{Airline}}"></td>
        <td><input type = "submit" value = "수정" formaction="/update/flight"></td>
    </tr>
</form>
{{/each}}

</table>

